<!DOCTYPE html>
<html lang="en">

<head>

    <link rel="stylesheet" href="static/styles/style.css">
    <link rel="stylesheet" href="static/styles/breadcrumbs.css">
    <meta charset="UTF-8">
    <title>Corkscrew</title>
</head>

<body>
    <div class="header">
        <div class="header_inside">

            <ul class="menu">

                <li><a href="index.html" class="current">Главная</a></li>


                <li><a href="catalog_red.html" class="uncurrent">Каталог</a></li>


                <li><a href="contacts.html" class="uncurrent">Контакты</a></li>

            </ul>

            <a href="index.html"><img src="static/images/logo.png" alt="corkscrew_logo" class="header_logo"></a>

            <div class="header_right">
                <a href=""><img src="static/images/login.png" alt="login" class="header_right_lc"></a>
                <a href=""><img src="static/images/cart.png" alt="cart" class="header_right_lc"></a>
            </div>
        </div>
    </div>

    <div class="hp_body">
        <fieldset class="fieldset">
            <legend class=legend>Новые поступления</legend>
            <div class="carousel-wrapper">
                <input type="radio" checked="checked" id="slide1" class="carousel-selector" name="carousel-selector" />
                <input type="radio" id="slide2" class="carousel-selector" name="carousel-selector" />
                <input type="radio" id="slide3" class="carousel-selector" name="carousel-selector" />
                <input type="radio" id="slide4" class="carousel-selector" name="carousel-selector" />

                <ul class="carousel-items">
                    <li class="carousel-item carousel-item-one">
                    </li>

                    <li class="carousel-item carousel-item-two">
                    </li>

                    <li class="carousel-item carousel-item-three">
                    </li>

                    <li class="carousel-item carousel-item-four">
                    </li>
                </ul>

                <ul class="carousel-labels">
                    <li class="carousel-label">
                        <label for="slide1"></label>
                    </li>
                    <li class="carousel-label">
                        <label for="slide2"></label>
                    </li>
                    <li class="carousel-label">
                        <label for="slide3"></label>
                    </li>
                    <li class="carousel-label">
                        <label for="slide4"></label>
                    </li>
                </ul>
            </div>
            <button class="button" style="vertical-align:middle">
           <a href="catalog_red.html">Перейти в каталог</a>
        </button>
        </fieldset>
        <br>
        <hr>
        <h1 style="text-align: center">Винный магазин Corkscrew</h1>
        <h3 style="text-align: center">Рады приветсвовать вас! <br>Вам должно быть больше 18 лет</h3>
        <hr>
    </div>

    <div class="footer">
        &copy; Все права защищены
        <sup>18+</sup>

    </div>
</body>

</html>
