<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Каталог</title>
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="stylesheet" href="../styles/catalog_menu.css">
</head>

<body>
    <div class="header">
        <div class="header_inside">

            <ul class="menu">

                <li><a href="../../index.html" class="uncurrent">Главная</a></li>


                <li ><a href="../catalog_red.html" class="current">Каталог</a></li>


                <li><a href="../contacts.html" class="uncurrent">Контакты</a></li>

            </ul>

            <a href="index.html"><img src="../images/logo.png" alt="corkscrew_logo" class="header_logo"></a>

            <div class="header_right">
                <a href=""><img src="../images/login.png" alt="login" class="header_right_lc"></a>
                <a href=""><img src="../images/cart.png" alt="cart" class="header_right_lc"></a>
            </div>
        </div>
    </div>

    <br>
    <div class="detailed_div"; background-color: white>
               <nav aria-label="Breadcrumb" class="breadcrumb">
            <ol>

                <li>
                    <a href="../index.html" class="current">
          Главная
        </a>
                </li>
                <li>
                    <a href="catalog_white.html" aria-current="page">
         Каталог Белое
        </a>
                </li>
            </ol>
        </nav>
        <ul class="catalog_menu">
            <li class="catalog_menu_li"><a href="catalog_red.html" >красное</a></li>
            <li class="catalog_menu_li"><a href="catalog_rose.html">розовое</a></li>
            <li class="catalog_menu_li"><a href="#">белое</a></li>
        </ul>
        <div class="assort">
            <div>
                <h3>Prieure Saint Jean de Bebian, 0.75 л., 2015 г.</h3>
                <a href="../images/white_original.png" target="_blank"><img src="../images/white_original.png" alt="Белое вино" class="detailed_image"></a>
                <ul class="detailed_list" style="display: inline-block">
                    <li>Белое</li>
                    <li>Сухое</li>
                    <li>60% Руссан, 30% Пикпуль, 10% Гренаш блан</li>
                    <li>Франция</li>
                    <li>4190₽</li>
                    <li>&nbsp;</li>
                    <button class="button2" style="vertical-align:middle"><a href="white/white.html">
                        Подробнее</a></button>
                </ul>
            </div>
            <div>
                <h3>Montrachet Grand Cru, 0.75 л., 2001 г.</h3>
                <a href="../images/white_new.png" target="_blank"><img src="../images/white_new.png" alt="Montrachet Grand Cru, 0.75 л., 2001 г." class="detailed_image"></a>
                <ul class="detailed_list" style="display: inline-block">
                    <li>Белое</li>
                    <li>Сухое</li>
                    <li>100% Шардоне</li>
                    <li>Франция</li>
                    <li>129990₽</li>
                    <li>&nbsp;</li>
                    <button class="button2" style="vertical-align:middle"><a href="white/white_new.html">
                        Подробнее</a></button>
                </ul>
            </div>
            <div>
                <h3>Chateau d'Yquem, 0.75 л., 2011 г.</h3>
                <a href="../images/white_new2.png" target="_blank"><img src="../images/white_new2.png" alt="Chateau d'Yquem, 0.75 л., 2011 г." class="detailed_image"></a>
                <ul class="detailed_list" style="display: inline-block">
                    <li>Белое</li>
                    <li>Сладкое</li>
                    <li>Семильон, Совиньон блан</li>
                    <li>Франция</li>
                    <li>46990₽</li>
                    <li>&nbsp;</li>
                    <button class="button2" style="vertical-align:middle"><a href="white/white_new2.html">
                        Подробнее</a></button>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer">
        &copy; Все права защищены
        <tt><sup>18+</sup></tt>
        
    </div>
</body>
</html>