<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Каталог</title>
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="stylesheet" href="../styles/catalog_menu.css">
</head>

<body>
    <div class="header">
        <div class="header_inside">

            <ul class="menu">

                <li><a href="../../index.html" class="uncurrent">Главная</a></li>


                <li ><a href="../catalog_red.html" class="current">Каталог</a></li>


                <li><a href="../contacts.html" class="uncurrent">Контакты</a></li>

            </ul>

            <a href="index.html"><img src="../images/logo.png" alt="corkscrew_logo" class="header_logo"></a>

            <div class="header_right">
                <a href=""><img src="../images/login.png" alt="login" class="header_right_lc"></a>
                <a href=""><img src="../images/cart.png" alt="cart" class="header_right_lc"></a>
            </div>
        </div>
    </div>

    <br>
    <div class="detailed_div"; background-color: white>
        <nav aria-label="Breadcrumb" class="breadcrumb">
            <ol>

                <li>
                    <a href="../index.html" class="current">
          Главная
        </a>
                </li>
                <li>
                    <a href="catalog_rose.html" aria-current="page">
         Каталог Розовое
        </a>
                </li>
            </ol>
        </nav>
        <ul class="catalog_menu">
            <li class="catalog_menu_li"><a href="catalog_red.html" >красное</a></li>
            <li class="catalog_menu_li"><a href="#" class="current">розовое</a></li>
            <li class="catalog_menu_li"><a href="catalog_white.html">белое</a></li>
        </ul>
        <div class="assort">
            <div>
                <h3>Sancerre Rose Les Baronnes, 0.75 л., 2016 г.</h3>
                <a href="../images/rose_original.png" target="_blank"><img src="../images/rose_original.png" alt="Sancerre Rose Les Baronnes, 0.75 л., 2016 г." class="detailed_image"></a>
                <ul class="detailed_list" style="display: inline-block">
                    <li>Розовое</li>
                    <li>Сухое</li>
                    <li>100% Пино нуар</li>
                    <li>Франция</li>
                    <li>2690₽</li>
                    <li>&nbsp;</li>
                    <button class="button2" style="vertical-align:middle"><a href="rose/rose.html">
                        Подробнее</a></button>
                </ul>
            </div>
            <div>
                <h3>CLas Fincas Rosado, 0.75 л., 2016 г.</h3>
                <a href="../images/rose_new.png" target="_blank"><img src="../images/rose_new.png" alt="Las Fincas Rosado, 0.75 л., 2016 г." class="detailed_image"></a>
                <ul class="detailed_list" style="display: inline-block">
                    <li>Розовое</li>
                    <li>Сухое</li>
                    <li>54% Гарнача, 46% Темпранильо</li>
                    <li>Испания</li>
                    <li>1990₽</li>
                    <li>&nbsp;</li>
                    <button class="button2" style="vertical-align:middle"><a href="rose/rose_new.html">
                        Подробнее</a></button>
                </ul>
            </div>
            <div>
                <h3>Varijanta, 0.75 л., 2015 г.</h3>
                <a href="../images/rose_new2.png" target="_blank"><img src="../images/rose_new2.png" alt="Varijanta, 0.75 л., 2015 г." class="detailed_image"></a>
                <ul class="detailed_list" style="display: inline-block">
                    <li>Розовое</li>
                    <li>Сухое</li>
                    <li>100% Мускат гамбургский</li>
                    <li>Сербия</li>
                    <li>1740₽</li>
                    <li>&nbsp;</li>
                    <button class="button2" style="vertical-align:middle"><a href="rose/rose_new2.html">
                        Подробнее</a></button>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer">
        &copy; Все права защищены
        <tt><sup>18+</sup></tt>

    </div>


</body>
</html>