<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Каталог</title>
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="stylesheet" href="../styles/catalog_menu.css">
</head>

<body>
    <div class="header">
        <div class="header_inside">

            <ul class="menu">

                <li><a href="../../index.html" class="uncurrent">Главная</a></li>


                <li ><a href="../catalog_red.html" class="current">Каталог</a></li>


                <li><a href="../contacts.html" class="uncurrent">Контакты</a></li>

            </ul>

            <a href="index.html"><img src="../images/logo.png" alt="corkscrew_logo" class="header_logo"></a>

            <div class="header_right">
                <a href=""><img src="../images/login.png" alt="login" class="header_right_lc"></a>
                <a href=""><img src="../images/cart.png" alt="cart" class="header_right_lc"></a>
            </div>
        </div>
    </div>
    
    <br>
    <div class="detailed_div">
        <nav aria-label="Breadcrumb" class="breadcrumb">
        <ol>

            <li>
                <a href="../index.html" class="current">
          Главная
        </a>
            </li>
            <li>
                <a href="catalog_red.html" aria-current="page">
         Каталог Красное
        </a>
            </li>
        </ol>
    </nav>
        <ul class="catalog_menu">
            <li class="catalog_menu_li"><a href="#" class="current">красное</a></li>
            <li class="catalog_menu_li"><a href="catalog_rose.html">розовое</a></li>
            <li class="catalog_menu_li"><a href="catalog_white.html">белое</a></li>
        </ul>

        <div class="assort">
            <div>
                <h3>Il Tascante, 0.75 л., 2014 г.</h3>
                <a href="../images/red_original.png" target="_blank"><img src="../images/red_original.png" alt="Il Tascante, 0.75 л., 2014 г." class="detailed_image"></a>
                <ul class="detailed_list" style="display: inline-block">
                    <li>Красное</li>
                    <li>Сухое</li>
                    <li>100% Нерелло маскалезе</li>
                    <li>Италия</li>
                    <li>4990₽</li>
                    <li>&nbsp;</li>
                    <button class="button2" style="vertical-align:middle"><a href="red/red.html">
                        Подробнее</a></button>
                </ul>

            </div>
            <div>
                <h3>Chianti Classico Gran Selezione San Lorenzo, 0.75 л., 2014 г.</h3>
                <a href="../images/red_new.png" target="_blank"><img src="../images/red_new.png" alt="КChianti Classico Gran Selezione San Lorenzo, 0.75 л., 2014 г." class="detailed_image"></a>
                <ul class="detailed_list" style="display: inline-block">
                    <li>Красное</li>
                    <li>Сухое</li>
                    <li>Санджовезе, Мерло, Мальвазия нера</li>
                    <li>Италия</li>
                    <li>5490₽</li>
                    <button class="button2" style="vertical-align:middle"><a href="red/red_new.html">
                            Подробнее</a></button>
                </ul>
            </div>
            <div>
                <h3>Kurni, 1.5 л., 2012 г.</h3>
                <a href="../images/red_new2.png" target="_blank"><img src="../images/red_new2.png" alt="Kurni, 1.5 л., 2012 г." class="detailed_image"></a>
                <ul class="detailed_list" style="display: inline-block">
                    <li>Красное</li>
                    <li>Полусладкое</li>
                    <li>100% Монтепульчано</li>
                    <li>Италия</li>
                    <li>19990₽</li>
                    <li>&nbsp;</li>
                    <button class="button2" style="vertical-align:middle"><a href="red/red_new2.html">
                            Подробнее</a></button>
                </ul>
            </div>


        </div>
    </div>
    <div class="footer">
        &copy; Все права защищены
        <sup>18+</sup>
    
    </div>
</body>
</html>