.catalog_menu {
    transform: translate(0, -50%);
    padding-top: 5px;
    display: flex;
}

.catalog_menu_li {
    list-style: none;
}

.catalog_menu_li a {
    position: relative;
    display: block;
    margin: 0 10px;
    padding: 5px 10px;
    color: #000;
    font-size: 24px;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
    overflow: hidden;
}

.catalog_menu_li a::before {
    content: '';
    position: absolute;
    top: calc(50% - 2px);
    left: -100%;
    width: 100%;
    height: 4px;
    background: #7b0323;
    transition: 0.5s;
}

.catalog_menu_li a:hover {
    color: #fff;
}

.catalog_menu_li a:hover::before {
    animation: animate .5s linear forwards;
}

@keyframes animate {
    0% {
        top: calc(50% - 2px);
        left: -100%;
        height: 4px;
        z-index: 1;
    }
    50% {
        top: calc(50% - 2px);
        left: 0;
        height: 4px;
        z-index: 1;
    }
    100% {
        top: 0;
        left: 0;
        height: 100%;
        z-index: -1;
    }
}
